*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.container{
    
}
#home{
    padding: 10px 5%;
    width: 100%;
    height: 100vh;
    background-color: black;
}
ul{
    list-style: none;

}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
ul li ul.dropdown li a{
  color: black;
}
ul li ul.dropdown li{
    display: block;


}
ul li ul.dropdown{
    width: 100%;
    position: absolute;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
}
.logo{
    width: 200px;
}
.demmo{
    background-color: red;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
}






#seccard{
    background-color:rgb(255, 255, 255);
    width: 400px;
    height: 290px;
    padding: 5px;
    border-radius: 25px;
    margin-left: 90px;

}


#govcard{
    background-color: white;
    width: 400px;
    height: 250px;
    padding: 5px;
    border-radius: 25px;
    margin-left: 90px;
    margin-top: 20px;

}
#collacard{
    background-color: white;
    width: 400px;
    height: 290px;
    padding: 5px;
    border-radius: 25px;
    margin-left: 90px;
    margin-top: 40px;

}


#seccard h1{
text-align: left;

}

#govcard h1{
    text-align: left;
    
    }
    
#collacard h1{
    text-align: left;
    
    }



    .down-side{
        width: 100%;
        height: 50vh;
        background-color: #DAE6E9;
        border-radius: 60px 60px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .down-side h1{
        color: #2d3958;
    }
    .down-side button{
        margin-top: 4%;
        width: 140px;
        height: 50px;
        background-color: red;
        color: #fff;
        border: none;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 50px;
        padding: 5px;
    }
    /*--------request demo section------*/
    #request{
        padding: 10px 5%;
    width: 100%;
    height: 70vh;
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    color: #fff;
    }
    .left-side p{
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
    }
    .left-side button{
    background-color: #353535;
    width: 160px;
    height: 55px;
    border: none;
    font-size: 16px;
    box-shadow: 4px 4px rgba(0,0,0,.3), -4px -4px rgba(0,0,0,.3);
    color: rgb(186, 186, 186);
    border-radius: 8px;
    margin: 10px;
    
    }
    .right-side{
        display: flex;
        font-size: 15px;
        margin-top: 5%;
    }
    .right-side div{
        margin: 35px;
    }
    .right-side h4{
        margin-bottom: 20%;
    }
    .right-side p{
        line-height: 34px;
        color: rgb(143, 140, 140);
    }
    .horizontal-line{
        width: 1px;
        background-color: darkgray;
        height: 60vh;
        margin-top: 30px;
    }
    .foot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5%;
        width: 100%;
        background-color: #353535;
        color: white;
        height: 200px;
    }
    .ttt{
        
    }
    .icons i{
        margin: 10px;
        color: black;
        padding: 5px;
    }
    hr{
        border: 0.01px solid;
        color: rgb(75, 75, 75);
    }
